body {
    margin: 0;
    font-family: SF Pro Display;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E5E5E5
  }
  
  * {
    box-sizing: border-box;
  }